.App {
  margin: 0 auto;
}

.container-main {
  margin: 2em auto;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  max-width: 1140px;
}
